/* fourthpagecss */
/* .ws_shops{ 
    width: 100%;
    height:520px;
    background-color: black;
}
.workshops{
    display:flex;
    justify-content:center;
    margin:auto;
    padding:50px;
    gap:30px;
}
 .handpottery{
    background-color:lavender;
    width:50%;
    
}
.pottery{
    max-width:100%;
    height:100%;
}
.aboutworkshops{
    height:100%;
    width:50%;
    background-color:pink;

   
}
.workshopdesc{
    font-size:38px;
    text-align:left; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.workshopdetails{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content:center;
    
    padding-bottom:20px;

}
.subscribebutton{
   width:150px;
   height:40px;
   padding: 10px 40px ;
   text-decoration:none;
   text-align:center;
    color:white;
    background-color: rgb(238, 96, 96);
} */